* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    box-shadow: 0 0 1em 0 rgb(194, 194, 194);
    position: relative;
    z-index: 99;
}

.nav_link {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: var(--font-size-header);
}

.nav_link:hover {
    background-color: #ddd;
}

.nav_link.active {
    background-color: var(--theme-color);
}

.nav_link.active:hover {
    background-color: rgb(255, 223, 41);
}

.topnav .login-container {
    float: right;
}


.icon_search {
    width: 30px;
    cursor: pointer;
} 

.search_container {
    display:flex;
    flex-direction:row;
    width: 700px;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_container input[type=text] {
    flex-grow:2;
    font-size: var(--font-size-header);
    transition: 0.3s;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
}

.search_container input[type=text]:focus {
    margin-top: -2px;
    padding: 8px;
}

.search_container input[type=text]:focus + button{
    margin-top: -2px;
    padding: 8px;
}

.search_container button {
    border:1px solid black; 
    background:black;
    color:var(--theme-color);
    cursor: pointer;
    transition: 0.3s;
    width: 80px;
    border-radius: 0px 5px 5px 0px;
}

.search_container button:hover {
    color: white;
}

#login_icon {
    width: 45px;
    cursor: pointer;
    margin-right: 12px;
}

#logout_icon {
    width: 45px;
    cursor: pointer;
}

.logout-container {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logout_btn {
    border: none;
    background: none;
}

@media screen and (max-width: 1250px) {

    .search_container  {
        width: 500px;
    }

}

@media screen and (max-width: 1050px) {

    .search_container  {
        width: 300px;
    }
}

@media screen and (max-width: 850px) {

    .nav_link, .login-container {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 7px 14px;
    } 


    .search_container {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        padding: 7px 14px;
    }

    #login_icon {
        width: 30px;
    }
}

@media print {
    .topnav {
        display: none;
    }
}
