* {box-sizing: border-box}

body {
    background: #eeedea;
}

.container {
    padding: 16px;
    width: 50%;
    margin: auto;
    font-size: var(--font-size-body);
}

h1 {
  text-align: center; 
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.question {
    box-shadow: 0 0 1em 0 rgb(194, 194, 194);
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 99;

}

.title, .description {
    width: 100%;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
    margin: 5px 0 22px 0;
    display: inline-block;
    transition: 0.1s;

}

.description {
    resize: vertical;
    min-height: 45px;
    overflow-y: scroll;
}

.title:hover, .description:hover {

    border-bottom: 3px solid rgb(179, 179, 179);
}

.title:focus, .description:focus {
    border: none;
}

.submitquestion {
    background-color: var(--theme-color);
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    font-weight: bold;
    opacity: 0.8;
    font-size: var(--font-size-body);
    border-radius: 10px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:0 auto;
    display:block;
}

.submitquestion:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

.btn-sep {
    padding: 16px 60px 16px 120px;
}

.btn-sep:before {
    background: black;
    border-radius: 10px 0px 0px 10px;
}

.submitquestion:before {
    font-family: 'FontAwesome';
    color: white;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 2.2;
    font-size: 140%;
    width: 60px;
}

.icon-send:before {
    content: "\f1d8";
}

.submitquestion:hover {
    opacity: 1;
    width: 100%;
    
} 

#question_icon {
    width: 30px;
    float: right;
}

.background_question_img {
    width: 20%;
    z-index: 1;
    position: absolute;
    filter: grayscale(0.8) blur(2px);
    transition: 1s;
}

#background_question_img_1 {
    top: 15%;
    left: 5%;
    -webkit-animation: move_question_1 60s linear infinite;
    -moz-animation: move_question_1 60s linear infinite;
      -o-animation: move_question_1 60s linear infinite;
         animation: move_question_1 60s linear infinite; 
}

#background_question_img_2 {
    bottom: 5%;
    left: 40%;
    -webkit-animation: move_question_2 30s linear infinite;
    -moz-animation: move_question_2 30s linear infinite;
      -o-animation: move_question_2 30s linear infinite;
         animation: move_question_2 30s linear infinite; 
}

#background_question_img_3 {
    top: 35%;
    right: 5%;
    -webkit-animation: move_question_3 30s linear infinite;
    -moz-animation: move_question_3 30s linear infinite;
      -o-animation: move_question_3 30s linear infinite;
         animation: move_question_3 30s linear infinite;

}

.background_question_img:hover {
    filter: none;

}

@media screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 90%;
    }
    .submitquestion {
        width: 90%;
    }
}




@-webkit-keyframes move_question_1 {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes move_question_1 {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes move_question_1 {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes move_question_1 {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-webkit-keyframes move_question_2 {
    from { -webkit-transform: rotate(0deg) translateX(25px) rotate(0deg); }
    to   { -webkit-transform: rotate(-360deg) translateX(25px) rotate(360deg); }
}

@-moz-keyframes move_question_2 {
    from { -moz-transform: rotate(0deg) translateX(25px) rotate(0deg); }
    to   { -moz-transform: rotate(-360deg) translateX(25px) rotate(360deg); }
}

@-o-keyframes move_question_2 {
    from { -o-transform: rotate(0deg) translateX(25px) rotate(0deg); }
    to   { -o-transform: rotate(-360deg) translateX(25px) rotate(360deg); }
}

@keyframes move_question_2 {
    from { transform: rotate(0deg) translateX(25px) rotate(0deg); }
    to   { transform: rotate(-360deg) translateX(25px) rotate(360deg); }
}

@-webkit-keyframes move_question_3 {
    from { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@-moz-keyframes move_question_3 {
    from { -moz-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@-o-keyframes move_question_3 {
    from { -o-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes move_question_3 {
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}